<template>
    <v-card>
        <v-card-title>
            Contacts
        </v-card-title>

        <v-card-subtitle>
            Do you have some interesting project to disucss? <br>
            Find me in these links
        </v-card-subtitle>

        <v-card-text>
            <v-list>
                <v-list-item
                    v-for="contact of $store.state.contacts"
                    :key="contact.name"
                    link @click="$open(contact.link)"
                >
                    <v-list-item-avatar rounded>
                        <v-img :src="require('@/' + contact.photo)"/>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title v-text="contact.name"/>
                        <v-list-item-subtitle v-text="contact.link"/>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-card-text>
    </v-card>
</template>
