<template>
    <v-row align-content="center">
        <v-col cols="12" md="3">
            <v-avatar rounded width="100%" height="100%">
                <v-img :src="require('@/assets/avatar.jpg')"/>
            </v-avatar>
        </v-col>
        <v-col cols="12" md="9" class="d-flex flex-column justify-space-between">
            <div>
                <h1>
                    Hello I'm Lazizbek.
                </h1>
                <p>
                    Experienced fullstack developer with three years of experience. <br>
                    Worked in <a href="https://robocontest.uz" target="_blank">Robocontest</a>, the biggest platform in
                    uzbekistan for programmers. <br>

                    <a href="https://freelancehunt.com/freelancers?country=192?r=a3Gnv" target="_blank">
                        #1 freelancer
                    </a> in Uzbekistan by rank of
                    <a href="https://freelancehunt.com/freelancer/lazerg.html?r=a3Gnv" target="_blank">
                        freelancehunt
                    </a>.
                </p>
            </div>

            <div>
                <v-card-actions>
                    <v-btn
                        text outlined
                        :to="{name: 'skills'}"
                    >
                        <v-icon left v-text="links[0].icon"/>

                        Skills
                    </v-btn>

                    <v-btn
                        text outlined
                        :to="{name: 'contacts'}"
                    >
                        <v-icon left v-text="links[1].icon"/>

                        Contacts
                    </v-btn>
                </v-card-actions>
            </div>
        </v-col>
    </v-row>
</template>

<script>
export default {
    computed: {
        links () {
            return this.$store.getters.onlyLinks([ 'Skills', 'Contacts' ]);
        }
    },
}
</script>

<style lang="sass" scoped>
a
    text-decoration: unset !important
    color: #6dc6d0
</style>
