<template>
    <v-row>
        <v-col
            v-for="project of $store.state.projects"
            :key="project.name"
            cols="12" md="6"
        >
            <v-card>
                <v-card-text>
                    <v-img :src="require('@/assets/' + project.photo)"/>
                </v-card-text>

                <v-card-title v-text="project.name"/>

                <v-list>
                    <v-list-item
                        v-for="link of project.links"
                        :key="link.link"
                        link @click="$open(link.link)"
                    >
                        <v-list-item-avatar rounded>
                            <v-img :src="require('@/assets/' + link.photo)"/>
                        </v-list-item-avatar>
                        <v-list-item-title v-text="link.name"/>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
export default {}
</script>
