<template>
    <v-row>
        <v-col
            cols="12" md="6"
            v-for="skill of $store.state.skills"
            :key="skill.name"
        >
            <v-card outlined>
                <v-card-title v-text="skill.name"/>

                <v-card-text>
                    <v-list>
                        <v-list-item
                            v-for="sub_skill of skill.sub_skills"
                            :key="sub_skill.name"
                            link @click="$open(sub_skill.search)"
                        >
                            <v-list-item-avatar rounded>
                                <v-img :src="require('@/' + sub_skill.photo)"/>
                            </v-list-item-avatar>

                            <v-list-item-title v-text="sub_skill.name"/>
                        </v-list-item>
                    </v-list>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>
