<template>
    <v-app id="portfolio">
        <app-bar/>
        <app-navigation-drawer/>

        <v-main>
            <v-container>
                <router-view/>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import AppBar from "@/layouts/AppBar";
import AppNavigationDrawer from "@/layouts/AppNavigationDrawer";

export default {
    components: {
        AppBar,
        AppNavigationDrawer,
    }
}
</script>
