<template>
    <v-app-bar app dense flat>
        <v-app-bar-nav-icon v-if="isMobile" @click="SET_DRAWER(true)"/>

        <v-app-bar-title v-text="app_name"/>

        <v-spacer/>

        <div v-if="isDesktop">
            <v-btn
                v-for="link of links"
                :key="link.name"
                class="mr-2"
                text link :to="{name: link.name.toLowerCase()}"
            >
                <v-icon left v-text="link.icon"/>

                {{ link.name }}
            </v-btn>
        </div>
    </v-app-bar>
</template>

<script>
import { mapGetters, mapMutations, mapState } from "vuex";

export default {
    methods: {
        ...mapMutations([ 'SET_DRAWER' ]),
    },

    computed: {
        ...mapState([ 'links', 'app_name' ]),
        ...mapGetters([ 'isMobile', 'isDesktop' ]),
    },
};
</script>
