<template>
    <v-navigation-drawer app v-model="drawerState" v-if="isMobile">
        <v-list>
            <v-list-item>
                <v-list-item-avatar rounded>
                    <v-img
                        :src="require('../../public/web-development.png')"
                    />
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title v-text="app_name"/>
                    <v-list-item-subtitle v-text="app_version"/>
                </v-list-item-content>
            </v-list-item>
        </v-list>

        <v-list
            v-for="link of links"
            :key="link.name"
            nav
        >
            <v-list-item link :to="{name: link.name.toLowerCase()}">
                <v-list-item-icon>
                    <v-icon left v-text="link.icon"/>
                </v-list-item-icon>
                <v-list-item-title v-text="link.name"/>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
    computed: {
        ...mapState([ 'links', 'app_name', 'app_version' ]),
        ...mapGetters([ 'isMobile' ]),

        drawerState: {
            get () {
                return this.$store.state.drawer;
            },

            set (payload) {
                return this.$store.commit('SET_DRAWER', payload);
            }
        }
    },
};
</script>
